<%- include('../../partials/student/header.html')%>
</head>

<body>
    <%- include('../../partials/student/sidebar.html')%>
    <%- include('../../partials/student/navbar.html')%>    
            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <a href="/audioTutorials" style="text-decoration: none; color: inherit;">
                <div class="card">
                    <div>
                        <div class="cardName">Podcasts</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="radio-outline"></ion-icon>
                    </div>
                </div>
                </a>

                <div class="card">
                    <div>
                        <div class="cardName">Audio Lectures</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="musical-notes-outline"></ion-icon>
                    </div>
                </div>
                
                <div class="card">
                    <div>
                        <div class="cardName">Audio Books</div>
                    </div>
                    
                    <div class="iconBx">
                        <ion-icon name="play-outline"></ion-icon>
                    </div>
                </div>
                
                <div class="card">
                    <div>
                        <div class="cardName">Audio Story</div>
                    </div>
                    
                    <div class="iconBx">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <%- include('../../partials/student/footer.html')%>