<%- include('../../partials/student/header.html')%>
</head>

<body>
    <%- include('../../partials/student/sidebar.html')%>
    <%- include('../../partials/student/navbar.html')%>    
    <div class="head">
        <h1>Type of Resources</h1>
    </div>
    <div class="cardBox">
        <a href="/textResources" style="text-decoration: none; color: inherit;">
            <div class="card">
                <div>
                    <div class="cardName">Text Tutorial</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="book-outline"></ion-icon>
                </div>
            </div>
        </a>

        <a href="/audioResources" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                <div class="cardName">Audio Tutorial</div>
            </div>
            <div class="iconBx">
                <ion-icon name="musical-notes-outline"></ion-icon>
            </div>
        </div>
    </a>

        
    <a href="/videoResources" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                
                <div class="cardName">Video Tutorial</div>
            </div>
            <div class="iconBx">
                <ion-icon name="videocam"></ion-icon>
            </div>
        </div>
    </a>
    
    <a href="/interactionRes" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                
                <div class="cardName">Interactive Resources</div>
            </div>
            <div class="iconBx">
                <ion-icon name="game-controller-outline"></ion-icon>
            </div>
        </div>
    </a>
    
    </div>

</div>
</div>

<%- include('../../partials/student/footer.html')%>
