<%- include('../../partials/student/header.html')%>
</head>

<body>
    <%- include('../../partials/student/sidebar.html')%>
    <%- include('../../partials/student/navbar.html')%>    
            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <a href="/quiz" style="text-decoration: none; color: inherit;">
                <div class="card">
                    <div>
                        <div class="cardName">Quiz</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="game-controller-outline"></ion-icon>
                    </div>
                </div>
                </a>

                <a href="/simulation" style="text-decoration: none; color: inherit;">
                <div class="card">
                    <div>
                        <div class="cardName">3D Visualization</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
            </a>

            <%- include('../../partials/student/footer.html')%>