<%- include('../../partials/teacher/header.html') %>
<link rel="stylesheet" href="/css/teacher/notifications.css">  
</head>
<body>
    <%- include('../../partials/teacher/sidebar.html') %>
    <%- include('../../partials/teacher/navbar.html') %>
    <div class="notifications-container">
        <h2>Notifications</h2>
        <div id="notifications">
            <!-- Notifications will be dynamically injected here -->
        </div>
    </div>



    <script src="../js/notifications.js"></script>
   
    <%- include('../../partials/teacher/footer.html') %>
