<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="logo-apple"></ion-icon> -->
                    </span>
                    <span class="title">Teacher Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/teacherDashboard">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/assignments">
                    <span class="icon">
                        <ion-icon name="add-outline"></ion-icon>
                    </span>
                    <span class="title">Add Assignments</span>
                </a>
            </li>
            
                <li>
                <a href="/assignments">
                    <span class="icon">
                        <ion-icon name="add-outline"></ion-icon>
                    </span>
                    <span class="title">Add Individual Assignments</span>
                </a>
            </li>

            <li>
                <a href="/rewardRanking">
                    <span class="icon">
                        <ion-icon name="ribbon-outline"></ion-icon>
                    </span>
                    <span class="title">Reward and Ranking Manage</span>
                </a>
            </li>

            <li>
                <a href="/login">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
