<%- include('../../partials/student/header.html')%>
</head>

<body>
    <%- include('../../partials/admin/sidebar1.html')%>
    <%- include('../../partials/admin/navbar.html')%>    
    <div class="cardBox">
        <a href="#" style="text-decoration: none; color: inherit;">
            <div class="card">
                <div>
                    <div class="cardName">Analysis</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="calculator"></ion-icon>
                </div>
            </div>
        </a>

        <a href="/school" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                <div class="cardName">Add School</div>
            </div>
            <div class="iconBx">
                <i class="fa-solid fa-school"></i>
            </div>
        </div>
    </a>

        
    <!-- <a href="/teacher" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                
                <div class="cardName">Add teacher</div>
            </div>
            <div class="iconBx">
                <i class="fa-solid fa-chalkboard-user"></i>
            </div>
        </div>
    </a>
    
    <a href="/student" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                
                <div class="cardName">Add student</div>
            </div>
            <div class="iconBx">
                <i class="fa-solid fa-user-graduate"></i>
            </div>
        </div>
    </a> -->
    
    </div>

</div>
</div>

<%- include('../../partials/student/footer.html')%>
